.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar{
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}


.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
 	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color:#D8D2CB;
}

.footer p {
	margin-top: 25px;
	font-size: 14px;
    color:#524A4E;
}

h1,h2,h3,h4,h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home{
    opacity: 0.8;
}

.des{
    opacity: 0.8;
}

h3{
   line-height: 1.2;
}

@media only screen and (max-width: 600px) {

    .navbar {
        padding-top: 10px;
        padding-bottom: 10px;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
        font-size: 10px;
        letter-spacing: 2px;
    }
    .top-nav a{
        float: left;
    }

    .navbar-brand{
        margin-bottom: 0;
    }

    .home,.des,h3{
        font-size: medium;
    }

    .post-title{
        font-weight:600;
    }

   .post-h1{
       font-size: larger;
       font-weight: bolder;
   }

   

   .post-h4{
    font-size: medium;
   }


  }